body{ 
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-wrap: wrap; 
  background-color: #E7E8EA;
}

.myslides{ 
  height: 40vh;
  width: 100vw; 
  background-color: #AB1D23;
}

.column1{
  height: 100vh; 
  width: 33vw; 
  display: flex; 
  flex-wrap: wrap; 
}

.box{ 
  height: calc(100%/3 - 4);
  width: 35% 
}

.info0{
  background-color: #B152F3; 
}


